<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :sport %><br>
    <%= f.text_field :sport %>
  </div>
  <div class="field">
    <%= f.label :distance_km %><br>
    <%= f.number_field :distance_km, :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :duration_sec %><br>
    <%= f.number_field :duration_sec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
