<h1>Listing workouts</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Sport (Endomondo ID)</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Distance (km)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout['username'] %></td>
        <td><%= workout['sport'] %></td>
        <td><%= workout['start_time'] %></td>
        <%= @time = workout['duration_sec'];
            @hours = @time/3600;
            @minutes = @time/60 - @hours * 60;
            @seconds = @time - (@minutes * 60 + @hours * 3600); %>
        <td><%= '%.2d:%.2d:%.2d' % [@hours, @minutes, @seconds] %></td>
        <td><%= workout['distance_km'] %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
