<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @workout.username %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @workout.sport %>
</p>

<p>
  <strong>Endo sport:</strong>
  <%= @workout.endo_sport_id %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @workout.distance %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @workout.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @workout.duration %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
